#trigger-engine-field {
    z-index: 100;
    position: absolute;
    border-radius: 0;
    outline-offset: 0;
    width: var(--origin-width);
    height: var(--origin-height);
    font-size: var(--origin-font-size);
    transform: translate(-50%, -50%);
    transition: all var(--transition-time) ease-in;

    &.scale-to {
        width: var(--target-width);
        height: var(--target-height);
        font-size: var(--target-font-size);
    }
}

input#trigger-engine-field {
    line-height: 0;
}

search-select-input#trigger-engine-field {
    input {
        height: 100%;
        background-image: url(../images/magnifier.svg);
        background-repeat: no-repeat;
        background-size: auto 80%;
        background-position: 0.3rem;
        padding-left: var(--target-height);
    }

    .popup {
        position: absolute;
        width: 100%;
        background: var(--color-cool-4);
        height: 0;
        max-height: 40vh;
        overflow-x: hidden;
        overflow-y: auto;

        &.expand {
            height: auto;
        }

        .option {
            cursor: pointer;
            padding: 0.1rem 0.5rem;

            &:hover {
                background: #366c7d4f;
            }

            &.selected {
                background: #366c7d2e;
            }
        }
    }

    &.bottom-half {
        .popup {
            bottom: 100%;
        }
    }
}

prose-mirror#trigger-engine-field {
    gap: 0;
    outline: 2px solid var(--color-cool-3);
    border-radius: 4px;
    min-height: 0;

    .editor-menu {
        border-radius: 0;
        padding: 0.1em 0 0;
        justify-content: end;
        padding-right: 0.1em;
    }

    .editor-container {
        background: var(--menu-background);
        border-top: 1px solid var(--color-cool-3);

        .editor-content {
            padding-inline: 0.5rem;

            h1,
            h2,
            h3,
            h4 {
                font-size: var(--origin-font-size);
                transition: all var(--transition-time) ease-in;
            }
        }
    }

    &.scale-to {
        .editor-content {
            h1 {
                font-size: var(--font-h1-size);
            }

            h2 {
                font-size: var(--font-h2-size);
            }

            h2 {
                font-size: var(--font-h2-size);
            }

            h3 {
                font-size: var(--font-h3-size);
            }
        }
    }

    &:not(.scaled) {
        .editor-menu {
            display: none;
        }
    }
}

code-mirror#trigger-engine-field {
    min-height: 0;
}
