:root {
    --any: #878787;
    --boolean: #ad0303;
    --item: #696fe0;
    --number: #07b88f;
    --point: #edea15;
    --outcome: #75db32;
    --region: #8c8c8c;
    --target: #ff3075;
    --text: #e0a06c;
    --user: #1682c9;
}
