.application.dialog.trigger-engine {
    min-width: 400px;

    .window-content {
        .form-group {
            white-space: nowrap;

            .form-fields:has(> input[type="number"]) {
                flex: 0;
            }

            input[type="number"] {
                width: 10ch;
                text-align: end;
            }
        }
    }
}

@import "edit-trigger";
@import "fields";
@import "import-export-triggers";
@import "nodes-menu";
@import "triggers-menu";
