@import "edit-trigger";
@import "fields";
@import "nodes-menu";
@import "triggers-menu";

.application.dialog.trigger-engine {
    .window-content {
        .form-group {
            white-space: nowrap;

            .form-fields:has(input[type="number"]) {
                flex: 0;

                input {
                    width: 10ch;
                    text-align: end;
                }
            }
        }
    }
}
