<div class="sidebar trigger">
    <div class="header">
        <div class="controls">
            <a data-action="back-to-menu" {{{@root.i18n.tooltip 'back' }}}>
                <i class="fa-solid fa-arrow-left"></i>
            </a>
        </div>
        <div class="controls">

        </div>
    </div>
</div>
<div class="trigger-title">
    {{#if trigger.locked}}
    <i class="fa-solid fa-plug-circle-xmark"></i>
    {{/if}}
    <div class="label">
        {{trigger.label}}
    </div>
</div>