<div class="sidebar trigger">
    <div class="header">
        <div class="controls">
            <a data-action="back-to-menu" {{{@root.i18n.tooltip 'back' }}}>
                <i class="fa-solid fa-arrow-left"></i>
            </a>
        </div>
        <div class="controls">

        </div>
    </div>
</div>